notebook/data
notebook/.ipynb_checkpoints
doc/*.docx

### ~ Python ~ ###
/pyproject.toml
/poetry.lock

### ~ Docker ~ ###
/.dockerignore
/Dockerfile
/*.y*ml

### ~ development ~ ###
/.flake8
/Makefile
